<div class="flashcard-display">

  <div class="top-part">

    <div class="list-title">
      <p><%= @list.title %></p>
    </div>

    <div class="general-progress">
      <p>You have mastered X words out of <%= @list.flashcard.count %> words</p>
      <div class="show-progress">
        <p>green</p>
      </div>
    </div>
    <div class="general-progress">
      <p>You are learning X words out of <%= @list.flashcard.count %> words</p>
      <div class="show-progress">
        <p>red</p>
      </div>
    </div>
  </div>


  <div class="flashcard-container">
    <div class="flashcard">

      <div class="flashcard-content">
        <div id="flashcard-question">
          <%= @list.flashcard.first %>
        </div>
        <div id="flashcard-answer" class="d-none"><%= Word.find_by(entry: @list.flashcard.first).translation %>
        </div>
      </div>

      <div id="flashcard-button">
        <div id="see-meaning">
          Tap to see meaning
        </div>
        <div id="wrong-answer" class="d-none">
          <span> I got it wrong... </span>

        </div>
        <div id="good-answer" class="d-none">
          <span> <%= link_to "I knew it!", list_good_answer_path, method: :patch %> </span>

        </div>
      </div>

    </div>
  </div>
</div>
