<% @list.words.each_with_index do |word, index| %>
  <div class="word-card-container">

      <div class="word-card">
        <p id="word-entry"> <%= @list.order ? word.entry : word.translation %> </p>


        <div class="hide-show">
          <i class="fas fa-eye" id="eye-icon"></i>
          <p id="word-result"> <%= @list.order ? word.translation : word.entry %></p>
        </div>
      </div>

    <div id="accordion-<%= index %>">
      <div class="display-more-content">
        <a href="#" id="chevron-icon" class="fas fa-chevron-down display-content" data-toggle="collapse" data-target="#collapse-<%= index %>" aria-expanded="false"></a>
      </div>

      <div id="collapse-<%= index %>" class="collapse displayed-content">
        <i> (nature) </i>
        <span id="definition"><%= word.definition.first %></span>
        <span id="example"> "<%= word.example %>"</span>
        <span> Synonyms:</span>
        <% unless word.synonyms == [] %>
          <span id="synonyms"> <%= "#{word.synonyms.first.capitalize}, #{word.synonyms[1]}, #{word.synonyms[2]}" %> </span>
        <% else %>
          <span id="synonyms">no synonyms to display</span>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
