<% @words.each_with_index do |word, index| %>
  <div class="word-card-container">

      <div class="word-card">
        <p id="word-entry"> <%= "#{word.entry}" %> </p>


        <div class="hide-show">
          <i class="fas fa-eye" id="eye-icon"></i>
          <p id="word-result"> <%= "#{word.translation}" %></p>
        </div>
      </div>

    <div id="accordion-<%= index %>">
      <div class="display-div">
        <i id="test" data-id="<%= index %>" class="fas fa-chevron-down display-content chevron-icon" data-toggle="collapse" data-target="#collapse-<%= index %>" aria-expanded="false"></i>
      </div>

      <div id="collapse-<%= index %>" class="collapse displayed-content" style="transition: height .8s ease">
        <i> (nature) </i>
        <span id="definition"><%= "#{word.definition.first}" %></span>
        <span id="example"> "<%= "#{word.example}" %>"</span>
        <span> Synonyms:</span>
        <span id="synonyms">
          <% wordcount = word.synonyms.count %>
          <% word.synonyms.each_with_index do |synonym, index| %>
            <% if index == 0 %>
            <%= "#{synonym.capitalize}," %>
            <% elsif index == wordcount -1 %>
            <%= "#{synonym}" %>
            <% else %>
            <%= "#{synonym}," %>
            <% end %>
          <% end %>

        </span>

      </div>
    </div>

  </div>
<% end %>
