<% @list&.words&.each_with_index do |word, index| %>
  <div class="word-card-container">

    <div class="word-card">
      <p id="word-entry"> <%= @list.switch ? word.entry : word.translation %> </p>


      <div class="hide-show">
        <% if word.votes_for.where(voter_id: current_user.id).empty? %>
         <%= link_to word_close_eye_path(word) do  %>
          <i class="fas fa-eye"></i>
         <% end %>
         <p id="word-result"> <%= @list.switch ? word.translation : word.entry %></p>
        <% elsif word.votes_for.where(voter_id: current_user.id).first.vote_flag == true %>
          <%= link_to word_close_eye_path(word) do  %>
            <i class="fas fa-eye"></i>
          <% end %>
          <p id="word-result"> <%= @list.switch ? word.translation : word.entry %></p>
          <% else %>
          <%= link_to word_open_eye_path(word) do  %>
            <i class="fas fa-eye-slash"></i>
         <% end %>
        <% end %>
      </div>
    </div>

    <div class="display-content">
      <i id="test" class="fas fa-chevron-down chevron-icon chevron-selector" ></i>
    </div>

      <div id="word-details" class="displayed-content" style="transition: height .8s ease">
        <span> <i> (<%= word.nature&.first %>) </i> </span>
        <span id="definition"><%= word.definition&.firs %></span>
        <span id="example"> "<%= word.example %>"</span>
        <span> Synonyms:</span>
        <span id="synonyms">
          <% wordcount = word.synonyms&.count %>
            <% if wordcount == 0 %>
              No synonyms to display
              <% else %>
              <% word.synonyms&.each_with_index do |synonym, index| %>
                <% if index == 0 %>
                <%= "#{synonym.capitalize}," %>
                <% elsif index == wordcount -1 %>
                <%= "#{synonym}" %>
                <% else %>
                <%= "#{synonym}," %>
                <% end %>
              <% end %>
            <% end %>
        </span>
      </div>
    </div>
 </div>
<% end %>
