<div class="navbar-user fixed-bottom">


    <%= link_to words_path, class: "home-menu  #{'icon-brand-color' if current_page?(words_path)}" do %>
    <i id= "home-icon" class="fas fa-home"></i>
    <span id= "home-title">Home</span>
    <% end %>

    <%= link_to lists_path, class: "list-menu #{'icon-brand-color' if current_page?(lists_path)}" do %>
    <i id= "list-icon" class="fas fa-list"></i>
    <span id= "list-title">Lists</span>
    <% end %>

    <%= link_to study_path, class: "study-menu #{'icon-brand-color' if current_page?(study_path)}" do %>
    <i id= "study-icon" class="fas fa-graduation-cap"></i>
    <span id= "study-title">Study</span>
    <% end %>

    <%= link_to lists_path(lists: "vocalists"), class: "chart-menu #{'icon-brand-color' if current_page?(root_path)}" do %>
    <i id= "chart-icon" class="fas fa-chart-line"></i>
    <span id= "chart-title">Results</span>
    <% end %>

    <%= link_to user_session_path, class: "user-menu #{'icon-brand-color' if current_page?(root_path)}" do %>
    <i id= "user-icon" class="fas fa-user"></i>
    <span id= "user-title">Profile</span>
    <% end %>







<!-- faire une div par icon, avec un id pour chaque icon si nécessaire et éventuellement faire une class pour chaque div contenant les icons, qqch comme:

<div class="to be defined">
  icon
</div>
<div class="to be defined">
  icon
</div>

etc.


 -->


</div>

