<div class="navbar-user fixed-bottom">

  <div class="navbar-icon">
    <%= link_to words_path,class: "#{'icon-brand-color' if current_page?(words_path)}" do %>
    <i class="fas fa-home"></i>
    <span class="general-size">Home</span>
    <% end %>
  </div>

  <div class="navbar-icon">
    <%= link_to lists_path, class: "#{'icon-brand-color' if current_page?(lists_path)}" do %>
    <i class="fas fa-list"></i>
    <span class="general-size">Lists</span>
    <% end %>
  </div>

  <div class="navbar-icon">
    <%= link_to study_path, class: "#{'icon-brand-color' if current_page?(study_path)}" do %>
    <i class="fas fa-graduation-cap"></i>
    <span class="general-size">Study</span>
    <% end %>
  </div>

  <div class="navbar-icon">
    <%= link_to lists_path(lists: "vocalists"), class: "#{'icon-brand-color' if current_page?(root_path)}" do %>
    <i class="fas fa-chart-line"></i>
    <span class="general-size">Results</span>
    <% end %>
  </div>

  <div class="navbar-icon">
    <%= link_to user_session_path, class: "#{'icon-brand-color' if current_page?(root_path)}" do %>
    <i class="fas fa-user"></i>
    <span class="general-size">Profile</span>
    <% end %>
  </div>

</div>
