<div class="navbar-user fixed-bottom ">

  <div class="navbar-icon">
    <%= link_to words_path,class: "#{'icon-brand-color' if current_page?(words_path)}" do %>
    <i class="fas fa-home"></i>
    <span class="general-size">Home</span>
    <% end %>
  </div>

  <div class="navbar-icon">
    <%= link_to lists_path, class: "#{'icon-brand-color' if params['controller'] == 'lists'}" do %>
    <i class="fas fa-list"></i>
    <span class="general-size">Lists</span>
    <% end %>
  </div>


  <div class="navbar-icon">
    <%= link_to study_flashcards_path, class: "#{'icon-brand-color' if current_page?(study_path)}" do %>
    <%= cl_image_tag "flashcards", width: 29, height: 29 %>
    <span class="general-size">Flashcards</span>
    <% end %>
  </div>

  <div class="navbar-icon">
    <%= link_to study_quizzes_path, class: "#{'icon-brand-color' if current_page?(root_path)}" do %>
    <%= cl_image_tag 'quizz_timer', width: 27, height: 27 %>
    <span class="general-size">Quizzes</span>
    <% end %>
  </div>

  <div class="navbar-icon">
    <%= link_to root_path, class: "#{'icon-brand-color' if current_page?(root_path)}" do %>
    <i class="fas fa-chart-line"></i>
    <span class="general-size">Results</span>
    <% end %>
  </div>

</div>
