<div class="navbar-user fixed-bottom">

    <%= link_to root_path, class: "home-menu" do %>
    <i id= "home-icon" class="fas fa-home"></i>
    <p id= "home-title">Home</p>
    <% end %>

    <%= link_to lists_path, class: "list-menu" do %>
    <i id= "list-icon" class="fas fa-list"></i>
    <p id= "list-title">Lists</p>
    <% end %>

    <%= link_to lists_path, class: "study-menu" do %>
    <i id= "study-icon" class="fas fa-graduation-cap"></i>
    <p id= "study-title">Study</p>
    <% end %>

    <%= link_to lists_path, class: "chart-menu" do %>
    <i id= "chart-icon" class="fas fa-chart-line"></i>
    <p id= "chart-title">Results</p>
    <% end %>

    <%= link_to user_session_path, class: "user-menu" do %>
    <i id= "user-icon" class="fas fa-user"></i>
    <p id= "user-title">Login</p>
    <% end %>







<!-- faire une div par icon, avec un id pour chaque icon si nécessaire et éventuellement faire une class pour chaque div contenant les icons, qqch comme:

<div class="to be defined">
  icon
</div>
<div class="to be defined">
  icon
</div>

etc.


 -->


</div>

