<div style="margin-top: 10%">
  <h4 class="text-center flashcard-title">
    <span></span>
    My Lists
    <span></span>
  </h4>
  <div class="d-flex horizontal-scroll flashcards-container">
    <% @flashcards.each do |flashcard| %>
      <div class="flashcard-element">
        <div class="ribbon-container">
          <div class="card-ribbon <%= "#{flashcard.flashcard_done ? 'card-done' : 'card-missed'}" %>">
          </div>
        </div>
        <% luck = (2..4).to_a.sample %>
        <% case luck %>
        <% when 2 %>
          <i class="fas fa-puzzle-piece"></i>
        <% when 3 %>
          <i class="fas fa-trophy"></i>
        <% when 4 %>
          <i class="fas fa-brain"></i>
        <% end %>
        <h6><%= flashcard.title %></h6>
        <p><%= flashcard.words.count %> words</p>
        <div class="card-back-one"></div>
        <div class="card-back-two"></div>
        <%= link_to '', list_flashcard_path(flashcard), class: "stretched-link" %>
        <div class="flashcard-progress d-flex justify-content-end align-items-center">
          <% percentage = flashcard.words_lists.where.not(reviewed: nil).count.fdiv(flashcard.words_lists.count) * 100 %>
          <p><%= percentage.ceil %>%</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div style="margin-top: 10%; margin-bottom: 30%;">
  <h4 class="text-center flashcard-weeks-title">
    <span></span>
    Weeks
    <span></span>
  </h4>
  <div class="d-flex horizontal-scroll flashcards-container">
    <% @flashcards_weeks.each do |flashcard| %>
      <div class="flashcard-weeks-element">
        <div class="ribbon-container">
          <div class="card-ribbon <%= "#{flashcard.flashcard_done ? 'card-done' : 'card-missed'}" %>">
          </div>
      </div>
        <i class="fas fa-calendar-week <%= "#{'iam-blue' if flashcard.title == "List of the week"}" %>" id="calendar"></i>
        <h6><%= flashcard.title %></h6>
        <p><%= flashcard.words.count %> words</p>
        <div class="card-back-one"></div>
        <div class="card-back-two"></div>
        <%= link_to '', list_flashcard_path(flashcard), class: "stretched-link" %>
        <div class="flashcard-progress d-flex justify-content-end align-items-center">
          <% percentage = flashcard.words_lists.where.not(reviewed: nil).count.fdiv(flashcard.words_lists.count) * 100 %>
          <p><%= percentage.ceil %>%</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

