<%= render "shared/translator" %>

<% unless params[:entry].nil? %>
  <div id="translation-answer">
    <p>word: <%= @entry %></p>
    <p>example: <%= @example %></p>
    <p>definition: <%= @meanings %></p>
    <p>synonyms: <%= @synonyms %></p>
    <p>difficulty: <%= @difficulty %>/10</p>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add to List
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% current_user.lists.each do |list| %>
          <%= link_to list.title, words_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="d-flex justify-content-between px-5 my-1 align-items-center">
  <%= @list.order ? "Français" : "Anglais" %>
  <i class="fas fa-exchange-alt"></i>
  <%= @list.order ? "Anglais" : "Français" %>
</div>
<div class="all-words">
  <%= render "shared/index-words" %>
</div>
