<div class="fix-top">
  <%= render "shared/translator" %>

  <% if @current_word.nil? %>
      <div class="displayed-content">
        <span id="translation"></span>
        <span> <i id="nature"> </i> </span>
        <span id="definition"></span>
        <span id="example"></span>
        <span> Synonyms:</span>
        <span id="synonyms"></span>
      </div>
    <div id="connect-actioncable" data-user-id="<%= current_user.id %>"></div>
  <% else %>
      <div class="displayed-content">
        <span id="translation"><%= @current_word.translation %></span>
        <span> <i id="nature"><%= @current_word.nature %> </i> </span>
        <span id="definition"><%= @current_word.definition %></span>
        <span id="example"><%= @current_word.example %></span>
        <span id="synonyms">
          <% wordcount = @current_word.synonyms.count %>
            <% if wordcount == 0 %>
              No synonyms to display
              <% else %>
              <% @current_word.synonyms.each_with_index do |synonym, index| %>
                <% if index == 0 %>
                <%= "#{synonym.capitalize}," %>
                <% elsif index == wordcount -1 %>
                <%= "#{synonym}" %>
                <% else %>
                <%= "#{synonym}," %>
                <% end %>
              <% end %>
            <% end %>
        </span>
      </div>
  <% end %>

  <div id="language-infos">
    <div class="d-flex justify-content-center my-3">
      <div class="list-title">
        <p><strong>List of the Week</strong></p>
      </div>
    </div>

    <div class="d-flex justify-content-between px-5 my-1 align-items-center">
      <%= @list.order ? "Français" : "Anglais" %>
      <%= link_to list_order_path(@list), method: :put do %>
        <i class="fas fa-exchange-alt"></i>
      <% end %>
      <%= @list.order ? "Anglais" : "Français" %>
    </div>

  </div>
</div>

<div class="all-words">
  <%= render "shared/index-words" %>
</div>
