<div class="question"><h3>Choose the correct synonym</h3></div>
<div class="hint"><h1><%= @entry %></h1></div>

<div class="all-answers">
  <% [@quizz_good_answer, @quizz_wrong_answers].flatten.shuffle.each do |answer| %>
    <% if answer == @quizz_good_answer %>
      <div class="answer-container">
        <div class="possible-answer good-answer" data-answer="1" data-word_list="<%= @word_list.id %>" data-list_id="<%= @list.id %>"><h4><%= answer %></h4></div>
      </div>
    <% else %>
      <div class="answer-container">
        <div class="possible-answer wrong-answer" data-answer="0"><h4><%= answer %></h4></div>
      </div>
    <% end %>
  <% end %>
</div>
